.products-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	min-height: 75vh;
}
.noproducts {
	padding: 2rem;
	text-align: center;
	font-size: 1rem;
	min-height: 70vh;
}
